body {

font-family: system-ui;
	background:white 

}
    
	div1 {
		
     text-align: center;   
        
    }

nafcs {
  position:absolute; top: 100; left: 100;
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
